[[!meta title="Welcome to Tails!"]]

[[!meta stylesheet="home" rel="stylesheet" title=""]]

[[!meta robots="noindex"]]

[[!meta script="home"]]

<div id="tor_check">
<a href="https://tails.boum.org/install/check/">
[[!img "lib/onion.png" link="no"]]
<!-- Note for translators: You can use <span class="twolines"> if your
translation of the label below is long and gets split into two lines. -->
<span>Tor check</span>
</a>
</div>

[[!inline pages="news" raw="yes" sort="age"]]
